@font-face {
    font-family: cursiveFont;
    src: url('../Assets/alsscrp.ttf');
}

html{
    height: 100%;
    margin: 0;
    top: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

h2{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#content{
    min-width: 100vw;
    min-height: 100%;
}

.pageContent{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navBarDiv{ 
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: stretch;
    min-width: 100vw;
    height: min(75px, 15%);
    background-color: black;
    border-bottom: 4px solid rgb(200, 175, 31);
    z-index: 10;
    padding: 0;
}

.navBarOptions{
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-left: auto;
    margin-right: auto;
    gap: 75px;
    padding: 0;
    height: 100%;
    font-size: min(1rem, 16px)
}

.buttonsDiv{
    display: flex;
    padding: 0;
    min-height: 100%;
    margin: 0;
    gap: 25px;
}

.navBtn{
    width: 80px;
    border: none;
    background-color: black;
    color: white
}

.navBtn:hover{
    color: rgb(200, 175, 31);
}

.clickedBtn{
    color: rgb(200, 175, 31);
}

.restaurantTitle{
    color: white;
    font-size: max(3.4rem, 3.5rem);
    font-family: cursiveFont;
    font-weight: 575;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
}

.pageBodyContent{
    display: flex;
    flex-direction: column;
}

.restaurantImg{
    min-width: 100vw;
    height: 35vw;
}

.aboutUsContentDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: min(40vh, 50%);
    padding: 2% 20% 5% 20%;
    z-index: 6;
}

.aboutUsHeader{
    color: white;
    font-size: 32px;
    border-bottom: none;
}

.aboutUsInfoDiv{
    max-height: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 3px solid rgb(200, 175, 31);
    border-bottom: 3px solid rgb(200, 175, 31);
}

.aboutUsP{
    color: white;
    font-size: 18px;
}

.imgAndInfoDiv{
    display: inline-block;
    position: relative;
    max-height: 60vh;
    overflow: hidden;
}

.steakImg{
    min-width: 100vw;
    max-width: 100vw;
    display: block;
}

.hoursInfoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    top: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%);
    color: white;
    margin-top: -1px;
    clear: both;
}

.hoursInfoHeader{
    font-size: 32px;
    width: 20%;
    font-weight: 600;
    border-bottom: 2px solid rgb(200, 175, 31);
}

.HoursInfo{
    font-size: 20px;
}

.actionLocationContactDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 40vh;
    background-color: rgb(88, 84, 84);
    border-top: 6px solid rgb(147, 141, 141);
}

.actionStmtDiv{
    background-color: rgb(88, 84, 84);   
    width: 100vw;
    padding: 0;
}

.actionStmtP{
    color: rgb(247, 242, 242);
    font-size: 30px;
    font-weight: 550;
    border-bottom: 1px solid gold;
    width: 1000px;
    margin: 10px auto;
    margin-top: 20px;
}

.locationAndContactDiv{
    display: flex;
    justify-content: center;
    height: 80%;
    margin-top: 15px;
}

.locationInfoDiv{
    display: flex;
    flex-direction: column;
    max-height: 50%;
    max-width: 40%;
    margin-left: -90px;
    color: white;
}

.locationHeader{
    font-weight: 600;
}

.map{
    max-height: 120%;
    max-width: 50%;
    margin-left: 0;
    margin-right: 0;
}

.LocationP{
    margin-left: 0;
    margin-right: 0;
}

.contactInfoDiv{
    display: flex;
    flex-direction: column;
    min-height: 50%;
    max-width: 40%;
}

.contactInfo{
    color: white;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.socialIconsDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.socialIcon{
    height: 50px;
    width: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 50px;
    width: 100vw;
}

.footerP{
    color: white;
    font-weight: 200;
}